---
title: Development environments
owner: Services
---

You can set up a tile development environment from simple standalone tools to a full Tanzu Operations Manager
development environment.
As you progress through the [stages](stages.html) of
tile development, you might progress through this environment.

## <a id='pcf'></a> <%= vars.app_runtime_abbr %> with Tanzu Operations Manager

### <a id='shared'></a> Shared <%= vars.app_runtime_abbr %> Development environments for VMware Tanzu Partners

<%= vars.company_name %> operates and manages a number of shared <%= vars.app_runtime_abbr %> development environments for ISV partners to use in developing their product tiles.

To use your assigned environment:

1. Log in to <%= vars.company_name %> Tile Dashboard using the credentials that you use for [Partners Slack](https://pivotalpartners.slack.com/). Note that Broadcom is discontinuing use of Slack in the upcoming months. For up-to-date information, see [Broadcom Partner Portal](https://partnerportal.broadcom.com/).

1. Click the environment assigned to you.

1. Log in to Tanzu Operations Manager with the Tanzu Operations Manager URL and credentials provided.

1. Log in to Apps Manager or the cf CLI with the Cloud Foundry information provided on the same page.

If you would like to become a partner, visit the [Broadcom Partner Portal](https://partnerportal.broadcom.com/). To check your partner status, use the **Email US** link at the bottom of the Partner page.
If you cannot access the Partners Slack instance, email <a href="mailto:tanzu-isv-partnerships.pdl@broadcom.com">tanzu-isv-partnerships.pdl@broadcom.com</a>.

### <a id='diy'></a> Install your own <%= vars.app_runtime_abbr %> environment

<p class="note">
<span class="note__title">Note</span>
<%= vars.company_name %> does not provide troubleshooting support for partner installations of <%= vars.ops_manager %>.
</p>

If you need an isolated or dedicated <%= vars.app_runtime_abbr %> development environment, or you must work offline, you can install your own environment that includes Tanzu Operations Manager:

- [Installing <%= vars.platform_name %>](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/<%= vars.dot_major_version %>/vmware-tanzu-ops-manager/install-install-index.html)
<a name='operations'></a>
- [Operating <%= vars.platform_name %>](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/<%= vars.dot_major_version %>/vmware-tanzu-ops-manager/index.html)
<a name='upgrade'></a>
- [Upgrading <%= vars.platform_name %>](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/<%= vars.dot_major_version %>/vmware-tanzu-ops-manager/upgrade-index.html)
