---
title: Development environments for your tile service
owner: Services
---


This page explains how to set up tile development environments, from simple standalone tools to a full <%= vars.platform_name %> development environment. As you progress through the [stages](stages.html) of tile development, you will likely also progress through these environments.


## <a id='pcfdev'></a> <%= vars.product_dev_local %> and BOSH-Lite

<%= vars.company_name %> provides a lightweight (vagrant packaged) instance of <%= vars.app_runtime_first %> with some
basic services as a free product named <%= vars.product_dev_local %>. This is a great environment
to develop and test everything that runs in <%= vars.app_runtime_abbr %>.

Either of these environments allow you to develop the first three levels of service for <%= vars.app_runtime_abbr %>: a [User-Provided Service](user-provided.html), [Creating a brokered service and service tile](brokered.html), and a [Managed Service](managed.html).

If your integration includes managed services, you will also need an instance
of BOSH that can manage virtual machines and BOSH releases for you.
[BOSH-Lite](https://github.com/cloudfoundry/bosh-lite) works well for that
purpose.

Between these two components, you will have everything you need to develop
tiles, except for Ops Manager. But if you followed the recommended workflow in [Building Your First Tile](index.html#tile-steps) you will not need an actual full
<%= vars.platform_name %> environment until the later phases of your development.

### <a id='setup-boshlite'></a> Setting up BOSH-Lite

- [Install BOSH-Lite](https://github.com/cloudfoundry/bosh-lite)

	<p class="note"><strong>Note:</strong> For this type of development environment, you only need BOSH-Lite itself to deploy managed service releases. You do not need to follow the instructions to Deploy Cloud Foundry in BOSH-Lite, as Cloud Foundry is provided by the <%= vars.product_dev_local %> installation above.</p>

### <a id='setup-pcfdev'></a> Setting up <%= vars.product_dev_local %>

- [Try <%= vars.app_runtime_abbr %> on your Local Workstation](http://pivotal.io/platform/pcf-tutorials/getting-started-with-pivotal-cloud-foundry-dev/introduction)


## <a id='pcf'></a> <%= vars.app_runtime_abbr %> with Ops Manager

### <a id='shared'></a> Shared <%= vars.app_runtime_abbr %> Development Environments for VMware Tanzu Partners

<%= vars.company_name %> operates and manages a number of shared <%= vars.app_runtime_abbr %> development environments,
called Pivotal Integration Environments (PIEs),
for Pivotal Technical Partnership Program (PTPP) program members to develop their tiles on.

To use your assigned PIE environment:

1. Log in to the <%= vars.company_name %> [Tile Dashboard](https://tile-dashboard.cfapps.io/)
using the credentials that you use for [Partners Slack](https://pivotalpartners.slack.com/).

1. Click the `pie-xx` environment assigned to you.

1. Log in to Ops Manager with the given Ops Manager URL and credentials.

1. Log in to Apps Manager or the cf CLI with the Cloud Foundry information provided on the same page.

If you are not in the PTPP or cannot access the Partners Slack, email isv@pivotal.io.

### <a id='diy'></a> Install Your Own <%= vars.app_runtime_abbr %> Environment

If you need an isolated or dedicated <%= vars.app_runtime_abbr %> development environment, or you need to work offline, you can install your own environment that includes Ops Manager:

- [Installing <%= vars.platform_name %>](http://docs.pivotal.io/pivotalcf/installing/index.html)
<a name='operations'></a>
- [Operating <%= vars.platform_name %>](http://docs.pivotal.io/ops-manager/opsguide/index.html)
<a name='upgrade'></a>
- [Upgrading <%= vars.platform_name %>](http://docs.pivotal.io/pivotalcf/customizing/upgrading-pcf.html)

The PTPP program does not troubleshoot partner installations of <%= vars.platform_name %> development environments.
