---
title: Development environments
owner: Services
---

You can set up a tile development environment from simple standalone tools to a full Ops Manager
development environment.
As you progress through the [stages](stages.html) of
tile development, you might progress through this environment.

## <a id='pcf'></a> <%= vars.app_runtime_abbr %> with Ops Manager

### <a id='shared'></a> Shared <%= vars.app_runtime_abbr %> Development environments for VMware Tanzu Partners

<%= vars.company_name %> operates and manages a number of shared <%= vars.app_runtime_abbr %> development environments,
called Pivotal Integration Environments (PIEs),
for Pivotal Technical Partnership Program (PTPP) program members to develop their tiles on.

To use your assigned PIE environment:

1. Log on to the <%= vars.company_name %> Tile Dashboard using the credentials that you use for [Partners Slack](https://pivotalpartners.slack.com/).

1. Click the `pie-xx` environment assigned to you.

1. Log in to Ops Manager with the given Ops Manager URL and credentials.

1. Log in to Apps Manager or the cf CLI with the Cloud Foundry information provided on the same page.

If you are not in the PTPP or cannot access the Partners Slack, email isv@pivotal.io.

### <a id='diy'></a> Install your own <%= vars.app_runtime_abbr %> environment

If you need an isolated or dedicated <%= vars.app_runtime_abbr %> development environment, or you need to work offline, you can install your own environment that includes Ops Manager:

- [Installing <%= vars.platform_name %>](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-install-index.html)
<a name='operations'></a>
- [Operating <%= vars.platform_name %>](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/index.html)
<a name='upgrade'></a>
- [Upgrading <%= vars.platform_name %>](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/upgrade-index.html)

The PTPP program does not troubleshoot partner installations of <%= vars.platform_name %> development
environments.
