---
title: Managed Services
owner: Services
---

You can integrate your [brokered service](./brokered.html) more closely
with <%= vars.platform_name %> to create a managed service and service tile for VMware Tanzu.

## <a id="about-m-s"></a>About managed services

The next level of integration is to deploy your service on <%= vars.platform_name %> rather
than externally, on the same IaaS that your particular Cloud Foundry instance
is deployed on, and using the same orchestration tool, [BOSH](http://bosh.io).

This is usually one of the more involved integrations, because you configure your packaging to allow your
service components to deploy BOSH onto the <%= vars.platform_name %> infrastructure.

When you offer your software as a managed service, you do not have to learn different ways to
deploy, manage, and monitor different components of your application platform.

As with the brokered service, the managed service has a service broker and a tile listed on the
Broadcom Support portal. The Broadcom Support portal lists managed services as "<YourApp> for VMware Tanzu."

To integrate your service at this level, you learn about stemcells, BOSH releases, and manifests. You can
decide how your service maps to a virtual machine and how persistent storage is managed.

### <a id="managed-mvp"></a>Minimal viable product

The Minimum Viable Product (MVP) version of a managed service is a single, shared service instance.
This integration level is mostly about getting the BOSH packaging, deployment, and monitoring working
correctly.

### <a id="managed-ha"></a>High availability

Once you have a managed service, you may decide to prioritize either
[on-demand provisioning](./on-demand.html) of service instances, or making your
single shared service instance more highly available.

When properly configured, BOSH monitors and restarts any failing processes
and VMs that are part of your service deployment. To further increase
availability, consider spreading your
resources across multiple AZs, or even regions, and replicating
your persistent storage across them.

## <a id="create"></a>Create a managed service

Follow these steps:

1. For BOSH to manage your service, you must create a BOSH release for it.
[BOSH releases](./bosh-release.html) explains how to do this, and how to use your already existing Docker image as a shortcut.

1. After you create a BOSH release for your managed service integration, you can work through
[Building your first tile](./index.html#tile-steps) to create your tile.

1. The [Tile generator](./tile-generator.html) tool automatically creates the life cycle
errands that can run after a <%= vars.platform_name %> tile is deployed, or before it is removed. You
control which errands run the next time when you click **Apply Changes** to redeploy.

See the
[Errands](./tile-errands.html) for how <%= vars.platform_name %> to control when errands run, and how
to set default errand run rules in the tile.

At any level of integration, <%= vars.company_name %> recommends and supports using [Concourse](./concourse.html) for continuous integration during development.
