---
title: Tanzu Operations Manager v2.10 Partners Release Notes
owner: Technical Program Management
---

You can learn about the changes in <%= vars.ops_manager_first %> <%= vars.v_major_version %> that might
be relevant to partner service tiles.

For information about changes introduced in <%= vars.ops_manager %> <%= vars.v_major_version %>, and any
breaking changes, see [<%= vars.ops_manager %> <%= vars.v_major_version %> Release Notes](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/release-notes.html).


## <a id="known-issues"></a> Known problems

Known issues in this release that can affect tile development for partners:

<%= vars.app_runtime_abbr %> v2.10 removes the `diego_log_timestamp_format` tile property and replaces
it with the `logging_timestamp_format` property, which allows operators to configure human-readable timestamps across <%= vars.app_runtime_abbr %> components. Most, but not all, <%= vars.app_runtime_abbr %> components can support the RFC3339 timestamp format.

For a list of components that use the RFC3339 timestamp format in <%= vars.app_runtime_abbr %> v2.10 , see [Optionally Use Human-Readable Timestamps for Component Logs](https://docs.pivotal.io/platform/2-10/release-notes/runtime-rn.html#timestamps) in the _VMware Tanzu Application Service for VMs v2.10 Release Notes_.

This feature might affect any partner tiles that parse or consume <%= vars.app_runtime_abbr %> component logs.

For more information, see [Timestamp Format for Component Logs Replaces Timestamp Format for Diego Logs](https://docs.pivotal.io/platform/2-10/release-notes/breaking-changes.html#timestamps).

### <a id="credhub-maestro-support"></a> Support for CredHub Maestro and Tanzu Operations Manager Bulk Rotation of Certificates

Tanzu Operations Manager v2.10 runs CredHub Maestro to perform the bulk rotation of various CAs and certificates within a foundation.

To ensure compatibility with Tanzu Operations Manager API certificate rotation
and CredHub Maestro, you must use the concatenated
`LEAF-CERTIFICATE-NAME.ca` format when referencing CAs
that sign leaf certificates in your tile's property configuration.
Do not reference the CA directly with the format `CA-CERTIFICATE-NAME.certificate`.

The `.ca` accessor format returns a concatenated version of the CA, which includes the older and newer CA. The concatenated version ensures that jobs using leaf certificates do not lose trusted state during CA rotation and results in the least amount of downtime for your tile's services during certificate rotation.

For more information and configuration examples, see [Reference Existing CAs and Certificates in CredHub Variables](create-credhub-vars.html#credhub-ca-refs).

## <a id="known-issues"></a> Known issues

Known issues in this release that might affect tile development for partners:

### <a id="non-configurable-certs"></a> Non-Configurable Certificates Are Invalid Within a Selector

An `rsa_cert_credentials` property with `configurable: false` is invalid within a `selector` property.

The tile does not raise any validation errors, but the following error appears during the pre-deploy check:

```
{
  "pre_deploy_check": {
    ...
    "properties": [
      {
        "name": ".properties.EXAMPLE-CERT-PROPERTY",
        "type": "rsa_cert_credentials",
        "errors": [
          "can't be blank",
          "can't be blank"
        ]
      }
    ],
    ...
  }
}
```

Where `EXAMPLE-CERT-PROPERTY` is the property you specify.

### <a id="removed-accessors"></a> Removed accessors

The following accessors have been removed. If you reference them, invalid data is returned, but does not
cause an error:

- `bosh_metrics_forwarder_client_name`
- `bosh_metrics_forwarder_client_secret`
