---
title: Ops Manager v2.10 Partners Release Notes
owner: Technical Program Management
---


<% current_page.data.title = vars.platform_name + " v2.10 Partners Release Notes" %>

This topic describes the changes in <%= vars.platform_name %> v2.10 that might be relevant to partner service tiles.

For information about changes introduced in Ops Manager v2.10,
see [Ops Manager v2.10 Release Notes](https://docs.pivotal.io/platform/2-10/release-notes/opsmanager-rn.html).
For information about breaking changes introduced in <%= vars.app_runtime_full %> v2.10,
see [Breaking Changes](https://docs.pivotal.io/platform/2-10/release-notes/breaking-changes.html).

## <a id="features"></a> Features

New features and changes in this release that may affect tile development for partners:

### <a id="log-format-change"></a> Timestamp Format Change for Diego Logs and Customizable <%= vars.app_runtime_abbr %> Component Logs

<%= vars.app_runtime_abbr %> v2.10 modifies the timestamp format of Diego logs and removes the `diego_log_timestamp_format` tile property.

In addition, operators can customize the overall format of <%= vars.app_runtime_abbr %> component logs. This feature may affect any partner tiles that parse or consume <%= vars.app_runtime_abbr %> component logs. 

For more information, see [Timestamp Format for Component Logs Replaces Timestamp Format for Diego Logs](https://docs.pivotal.io/platform/2-10/release-notes/breaking-changes.html#timestamps) and [Optionally Use Human-Readable Timestamps for Component Logs](https://docs.pivotal.io/platform/2-10/release-notes/runtime-rn.html#timestamps).
