---
title: Ops Manager v3.0 partners release notes
owner: Technical Program Management
---

You can learn about the changes in <%= vars.ops_manager_first %> <%= vars.v_major_version %> that might
be relevant to partner service tiles.

For information about changes introduced in <%= vars.ops_manager %> <%= vars.v_major_version %>, and any
breaking changes, see [<%= vars.ops_manager %> <%= vars.v_major_version %> Release Notes](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/release-notes.html).


## <a id="known-issues"></a> Known problems

Known issues in this release that can affect tile development for partners:

### <a id="non-configurable-certs"></a> Non-configurable certificates are invalid within a selector

An `rsa_cert_credentials` property with `configurable: false` is invalid within a `selector` property.

The tile does not raise any validation errors, but the following error appears during the pre-deploy check:

```
{
  "pre_deploy_check": {
    ...
    "properties": [
      {
        "name": ".properties.EXAMPLE-CERT-PROPERTY",
        "type": "rsa_cert_credentials",
        "errors": [
          "can't be blank",
          "can't be blank"
        ]
      }
    ],
    ...
  }
}
```

Where `EXAMPLE-CERT-PROPERTY` is the property you specify.

### <a id="removed-accessors"></a> Removed accessors

The following accessors have been removed. If you reference them, invalid data is returned, but does not
cause an error:

- `bosh_metrics_forwarder_client_name`
- `bosh_metrics_forwarder_client_secret`
