---
title: Ops Manager v2.10 Partners Release Notes
owner: Technical Program Management
---


<% current_page.data.title = vars.platform_name + " v2.10 Partners Release Notes" %>

This topic describes the changes in <%= vars.platform_name %> v2.10 that might be relevant to partner service tiles.

For information about changes introduced in Ops Manager v2.10,
see [Ops Manager v2.10 Release Notes](https://docs.pivotal.io/platform/2-10/release-notes/opsmanager-rn.html).
For information about breaking changes introduced in <%= vars.app_runtime_full %> v2.10,
see [Breaking Changes](https://docs.pivotal.io/platform/2-10/release-notes/breaking-changes.html).

## <a id="features"></a> Features

New features and changes in this release that may affect tile development for partners:

### <a id="log-format-change"></a> Timestamp Format Change and Customizable <%= vars.app_runtime_abbr %> Component Logs

In <%= vars.app_runtime_abbr %> v2.10, operators can modify the timestamp format of <%= vars.app_runtime_abbr %> component logs.

<%= vars.app_runtime_abbr %> v2.10 removes the `diego_log_timestamp_format` tile property and replaces
it with the `logging_timestamp_format` property, which allows operators to configure human-readable timestamps across <%= vars.app_runtime_abbr %> components. Most, but not all, <%= vars.app_runtime_abbr %> components can support the RFC3339 timestamp format.

For a list of components that use the RFC3339 timestamp format in <%= vars.app_runtime_abbr %> v2.10 , see [Optionally Use Human-Readable Timestamps for Component Logs](https://docs.pivotal.io/platform/2-10/release-notes/runtime-rn.html#timestamps) in the _VMware Tanzu Application Service for VMs v2.10 Release Notes_.

This feature may affect any partner tiles that parse or consume <%= vars.app_runtime_abbr %> component logs.

For more information, see [Timestamp Format for Component Logs Replaces Timestamp Format for Diego Logs](https://docs.pivotal.io/platform/2-10/release-notes/breaking-changes.html#timestamps).

### <a id="credhub-maestro-support"></a> Support for CredHub Maestro and Ops Manager Bulk Rotation of Certificates

Ops Manager v2.10 invokes CredHub Maestro to perform the bulk rotation of various CAs and certificates within a foundation.

To ensure compatibility with Ops Manager API certificate rotation
and CredHub Maestro, you must use the concatenated
`LEAF-CERTIFICATE-NAME.ca` format when referencing CAs
that sign leaf certificates in your tile's property configuration.
Do not reference the CA directly with the format `CA-CERTIFICATE-NAME.certificate`.

The `.ca` accessor format returns a concatenated version of the CA, which includes the older and newer CA. The concatenated version ensures that jobs using leaf certificates do not lose trusted state during CA rotation and results in the least amount of downtime for your tile's services during certificate rotation.

For more information and configuration examples, see [Reference Existing CAs and Certificates in CredHub Variables](create-credhub-vars.html#credhub-ca-refs).

## <a id="known-issues"></a> Known Issues

Known issues in this release that may affect tile development for partners:

### <a id="non-configurable-certs"></a> Non-Configurable Certificates Are Invalid Within a Selector

An `rsa_cert_credentials` property with `configurable: false` is invalid within a `selector` property.

The tile does not raise any validation errors, but the following error appears during the pre-deploy check:

<pre>
{
  "pre_deploy_check": {
    ...
    "properties": [
      {
        "name": ".properties.EXAMPLE-CERT-PROPERTY",
        "type": "rsa_cert_credentials",
        "errors": [
          "can't be blank",
          "can't be blank"
        ]
      }
    ],
    ...
  }
}
</pre>
Where `EXAMPLE-CERT-PROPERTY` is the property you specify.
