---
title: Tanzu Operations Manager v3.0 partners release notes
owner: Technical Program Management
---

You can learn about the changes in <%= vars.ops_manager_first %> <%= vars.v_major_version %> that might
be relevant to partner service tiles.

For information about changes introduced in <%= vars.ops_manager %> <%= vars.v_major_version %>, and any
breaking changes, see [<%= vars.ops_manager %> <%= vars.v_major_version %> Release Notes](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/release-notes.html).

## <a id="Releases"></a> Releases

### <a id="3.0.2"></a> Metadata version 3.0.2

* **[Feature]** `vcenter_ca_certificate` added to `VsphereConfigurationVerifier`.
When <code>vcenter_ca_certificate</code> is provided, the vCenter server certificate are validated
against the provided CA or certificate chain. If it's not provided or a blank value is configured,
TLS connections are established but the certificate for the
vCenter server is not validated.

### <a id="3.0.1"></a> Metadata version 3.0.1

* **[Bug Fix]** Using the `$director` dollar context within manifest snippets for collections and selectors no longer causes <%= vars.ops_manager %> to crash.

### <a id="3.0.0"></a> Metadata version 3.0.0

No new features since <%= vars.ops_manager %> v2.10.

## <a id="known-issues"></a> Known issues

Known issues in this release that can affect tile development for partners:

### <a id="removed-accessors"></a> Removed accessors

The following accessors have been removed. If you reference them, invalid data is returned, but does not
cause an error:

- `bosh_metrics_forwarder_client_name`
- `bosh_metrics_forwarder_client_secret`
