---
title: Ops Manager v3.0 partners release notes
owner: Technical Program Management
---

Here's information aboout the changes in <%= vars.ops_manager_first %> <%= vars.v_major_version %> that might be relevant to partner service tiles.

For information about changes introduced in <%= vars.ops_manager %> <%= vars.v_major_version %>,
see [<%= vars.ops_manager %> <%= vars.v_major_version %> Release Notes](https://docs.pivotal.io/platform/2-10/release-notes/opsmanager-rn.html).
For information about breaking changes introduced in <%= vars.app_runtime_full %> v3.0,
see [Breaking Changes](https://docs.pivotal.io/platform/3-0/release-notes/breaking-changes.html).

## <a id="features"></a> Features

There are no changes in <%= vars.ops_manager %> <%= vars.v_major_version %> that directly affect tile development for partners.

## <a id="known-issues"></a> Known issues

Known issues in this release that can affect tile development for partners:

### <a id="non-configurable-certs"></a> Non-configurable certificates are invalid within a selector

An `rsa_cert_credentials` property with `configurable: false` is invalid within a `selector` property.

The tile does not raise any validation errors, but the following error appears during the pre-deploy check:

```
{
  "pre_deploy_check": {
    ...
    "properties": [
      {
        "name": ".properties.EXAMPLE-CERT-PROPERTY",
        "type": "rsa_cert_credentials",
        "errors": [
          "can't be blank",
          "can't be blank"
        ]
      }
    ],
    ...
  }
}
```

Where `EXAMPLE-CERT-PROPERTY` is the property you specify.
<<<<<<< Updated upstream
=======

### <a id="removed-accessors"></a> Removed accessors

The following accessors have been removed; referencing them returns invalid data but does not cause an error:

- `bosh_metrics_forwarder_client_name`
- `bosh_metrics_forwarder_client_secret`
>>>>>>> Stashed changes
