---
title: Service broker resources
owner: Services
---

You can use the following resources to build service brokers and routing services:

* The [Custom services overview](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/6.0/tas-for-vms/concepts-overview.html) topic gives
a high-level description of how service brokers work in <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>).

* The [Service broker API](./service-broker-api.html) topic gives
a more detailed explanation of <%= vars.app_runtime_abbr %> service brokers, and provides a full
specification for the endpoints, requests, responses, and status codes that a service broker must support.

* The [Example service brokers](https://github.com/openservicebrokerapi/servicebroker/blob/v2.15/spec.md) topic
offers example brokers written in Ruby, Java, and Go.

* The [Supporting multiple <%= vars.app_runtime_abbr %> instances](./docs-services/supporting-multiple-cf-instances.html) topic
has information about registering a service broker with multiple <%= vars.app_runtime_abbr %> instances.

## <a id="route"></a> Route Services resources

* [Route services](./docs-services/route-services.html) explains how route services work, and what are the different
architectures for using them in a <%= vars.app_runtime_abbr %> deployment.


## <a id="catalog"></a> Catalog resources

* [Catalog metadata](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/6.0/tas-for-vms/docs-services-overview.html) explains how
to publish service plan information to Marketplace, including the icons, display names, and links that appear in Apps Manager UI but not the plain text
output of `cf marketplace`.
