---
title: Service Brokers
owner: Services
---

This topic provides resources for building service brokers and routing services.


## <a id="resources"></a> Service Broker Resources

* The [Custom Services Overview](http://docs.pivotal.io/application-service/services/overview.html) topic gives a high-level description of how service brokers work in <%= vars.platform_name_pivotal %>.

* The [Service Broker API](http://docs.pivotal.io/application-service/services/api.html) topic gives a more detailed explanation of <%= vars.platform_name_pivotal %> service brokers, and provides a full specification for the endpoints, requests, responses, and status codes that a service broker must support.

* The [Example Service Brokers](http://docs.pivotal.io/application-service/services/examples.html) topic offers example brokers written in Ruby, Java, and Go.

* The [Supporting Multiple <%= vars.app_runtime_abbr_pivotal %> Instances](https://docs.pivotal.io/application-service/services/supporting-multiple-cf-instances.html) topic has information about registering a service broker with multiple <%= vars.app_runtime_full_pivotal %> (<%= vars.app_runtime_abbr_pivotal %>) instances.


## <a id="route"></a> Route Services Resources

* [Route Services](http://docs.pivotal.io/application-service/services/route-services.html) explains how route services work, and what are the different architectures for using them in a <%= vars.app_runtime_abbr_pivotal %> deployment.

- [Example Route Services](http://docs.pivotal.io/application-service/services/route-services.html#examples) gives examples of a logging route service, a rate-limiting route service, and another logging service written in Spring Boot. It also offers a tutorial on setting up the logging route service.


## <a id="catalog"></a> Catalog Resources

* [Catalog Metadata](https://docs.pivotal.io/application-service/services/catalog-metadata.html) explains how to publish service plan information to Marketplace, including the icons, display names, and links that appear in the Pivotal Apps Manager UI but not the plain text output of `cf marketplace`.
